.container-devise form {
  max-width: 330px;
  margin: 0 auto;
}

.user-form {
  div:not(.field_with_errors) {
    margin-bottom: 10px;
  }

  .inputs {
    input {
      border-radius: 0;
      margin-bottom: -1px;
    }

    & > input:first-child, & > div:first-child > input {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    & > input:last-child, & > div:last-child > input {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    & > div.field_with_errors > input {
      border-color: red;
    }
  }

  input[type="checkbox"] {
    margin-right: 6px;
  }
}
